.formContainer{
   width: 22vw;
   border: 1px solid purple;
   border-radius: 10px;
   padding: 20px 10px;
   margin: auto;
   margin-top: 15vh;
   font-family: sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.formContainer > h1{
   margin: 0;
   margin-bottom: 10px;
   color: purple;
}
.formContainer > h4{
   margin-bottom: 0;
}
.formContainer > form > p{
   margin: 18px 0 5px;
}
.formContainer > form > input{
   padding: 7px;
   border: 1px solid grey;
   border-radius: 5px;
}
.formContainer > form > button[type='submit']{
   display: block;
   padding: 5px 8px;
   margin: 15px auto 20px;
   border: 0;
   border-radius: 5px;
   color: white;
}
.blueBtn{
   background-color: rgb(23, 119, 215);
}
.orangeBtn {
   background-color: orangered;
}